body{
    height:100vh;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.containerDiv{
    width:660px;
    height:660px;
    background-color:white;
    display: flex;
    flex-direction: column;

}
.rowDiv{
    height:25%;
    background-color:pink;
    display:flex;
}
.grid{
    margin:0;
    border: 3px solid black;
    display:inline-block;
    width:25%;
    height:auto;

}